*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
bokdo/data/test/floor/image901.png
bokdo/data/test/floor/image903.png
*.png
*.jpg
bokdo/model_imagesize_256.pth
bokdo/tempCodeRunnerFile.py
